@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700&display=swap');
:root{
--Orange: hsl(25, 97%, 53%);
--White: hsl(0, 0%, 100%);
--Light-Grey: hsl(217, 12%, 63%);
--Medium-Grey: hsl(213, 20%, 22%);
--Dark-Blue: hsl(213, 19%, 18%);
--Very-Dark-Blue: hsl(216, 12%, 8%);
}



*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
body{
    background-color:var(--Very-Dark-Blue) ;
}
.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px,auto)  repeat(5, 100px);

    min-height: 100vh;

}
.calculator-grid button{
    cursor: pointer;
    font-size: 20px;
    background-color: var(--Dark-Blue);
    outline: none;
    border: 1px solid var(--Medium-Grey);
    color: var(--White);
}
.calculator-grid button:hover{
    background-color: var(--Light-Grey);
}
.span-two{
    grid-column: span 2;

}
.output{
    grid-column: 1 /-1;
    background-color: var(--Orange);
    padding: 10px;
    color: var(--White);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    word-wrap: break-word;
    word-break: break-all;
}